 {{> header }}
    <h1>{{ pageTitle }}</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae et mollitia, impedit ea voluptate, nostrum, blanditiis
        dolore sequi dolorum quo tenetur illum officia quod facere. Praesentium minus libero qui impedit.</p>
{{> footer }}