{{> header }}
    <h1> {{ pageTitle }} </h1>
    <form action="#">
        <label for="">Enter username</label>
        <input type="text">
        <label for="">And your message</label>
        <textarea name="" id="" cols="30" rows="10"></textarea>
    </form>
{{> footer }}